// // -------------------------------------
// // - Carousels Module
// // -------------------------------------
// // ----- Styles for the Carousels Module
// // -------------------------------------

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
}
.carousel-inner > .item {
  @include transition-property(opacity, left);
  @include transition-duration(0.6s);
  @include transition-timing-function(ease-in-out);
  position: relative;
  display: none;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
  height: auto;
  opacity: 0;
}
.carousel-inner > .active {
  left: 0;
  opacity: 1.0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}